<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Oooops!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Red+Rose&display=swap" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- own style -->
    <link rel="stylesheet" href="css/style.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</head>

<body class="text-center">

<div class="">
    <main role="main" class="container">
        <H1>Ooops, I can't load this site</H1>

        <div class="row mt-5">
            <H5>... don't tell anybody, but it could be a </H5>
        </div>
        <div class="row">
                <img src="/bug.png" class="rounded mx-auto d-block" alt="another one ...">
        </div>

        <a href="/">Back</a>

    </main>
</div>


</body>
</html>